<!--Recipe{
    background-color:white;
    display:block;
    margin:2em;
    width:750px;
    height:750px;
    color:purple;
    border-radius:10px;
    border-color:purple;
}
CookTime{
    font-size:16pt;
    font-weight:bold;
}
Yield{
    font-size:10pt;
    float:right;
}
Ingredients{
    display:block;
    margin-left:2em;
}

Directions{
    display:block;
    margin:2em;
}
L{
    font-style:italic;
}

-->
Recipes{
    background-color:Gray;
    display:block;
    margin:2em;
    width:750px;
    height:750px;
}

Recipe{
    display:block;
    padding:1em;
    border-radius:10px;
    background-color:wheat;
}

Title{
    font-size:16pt;
    font-weight:bold;
}

yield{
    font-size:10pt;
    float:right;
}


Ingredients{
    display:block;
    margin-left:2em;
}

Ingredient{
    display:list-item;
    list-style-position:inside;
}

Directions{
    display:block;
    margin:2em;
}


    

